<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Registration</title>

</head>

<body>

    <form action="" method="post">

      <p>

    <label for='name'>Your name:</label>

    <input id='name' type="text" name="name">

     </p>

        <p>

     <label for="login">Login:</label>

     <input type="text" id='login' name="login">

      </p>

 <p>

     <label for="password">Password:</label>

     <input id='password' type="password" name="password">

 </p>

 <p>

     <input type="submit" value="Sign In">

 </p>

    </form>


</body>

</html>
